body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.map {
    height: 400px; /* Set your desired height */
    width: 100%;
}
